# Godot 4+ specific ignores
.godot/
/android/
MainTavern.tscn14685732035.tmp
MainTavern.tscn14712403277.tmp
MainTavern.tscn14852454466.tmp
MainTavern.tscn19575486802.tmp
MainTavern.tscn3648614499.tmp
MainTavern.tscn168281160.tmp
MainTavern.tscn2900153545.tmp
scenes/MainTavern.tscn1693527013.tmp
scenes/MainTavern.tscn9243698052.tmp
scenes/MainTavern.tscn9707721438.tmp
shiningsun_tree.txt
treegen_Windows_x86_64.exe

/addons/
assets/environment/decorations/barrier_colum_half.obj
assets/environment/decorations/barrier_colum_half.obj.import
assets/environment/decorations/barrier.obj
assets/environment/decorations/barrier.obj.import
assets/environment/decorations/coin_stack_medium.obj
assets/environment/decorations/coin_stack_medium.obj.import
assets/environment/decorations/keg.obj
assets/environment/decorations/keg.obj.import
assets/environment/decorations/pillar_decorated.obj
assets/environment/decorations/pillar_decorated.obj.import
assets/environment/decorations/torch_mounted.obj
assets/environment/decorations/torch_mounted.obj.import
assets/environment/decorations/trunk_large_A.obj
assets/environment/decorations/trunk_large_A.obj.import
assets/environment/decorations/wall_doorway_door.obj
assets/environment/decorations/wall_doorway_door.obj.import
assets/environment/furniture/candle.obj
assets/environment/furniture/candle.obj.import
assets/environment/furniture/stairs_wide.obj
assets/environment/furniture/stairs_wide.obj.import
assets/environment/furniture/TavernCounterCircular.glb
assets/environment/furniture/TavernCounterCircular.glb.import
assets/portraits/barbarian.jpg
assets/portraits/barbarian.jpg.import
assets/portraits/drow-girl.jpg
assets/portraits/drow-girl.jpg.import
assets/portraits/fighter-girl.jpg
assets/portraits/fighter-girl.jpg.import
assets/portraits/healer.jpg
assets/portraits/healer.jpg.import
assets/portraits/mage portrait.jpg
assets/portraits/mage portrait.jpg.import
assets/portraits/rogue.jpg
assets/portraits/rogue.jpg.import
assets/portraits/unnamed.jpg
assets/portraits/unnamed.jpg.import
documentation/Gemini_Generated_Image_i1o9vzi1o9vzi1o9.png
documentation/Gemini_Generated_Image_i1o9vzi1o9vzi1o9.png.import
documentation/Gemini_Generated_Image_porhmlporhmlporh.png
documentation/Gemini_Generated_Image_porhmlporhmlporh.png.import
documentation/Gemini_Generated_Image_qgj1tkqgj1tkqgj1.png
documentation/Gemini_Generated_Image_qgj1tkqgj1tkqgj1.png.import
documentation/Gemini_Generated_Image_r5goodr5goodr5go.png
documentation/Gemini_Generated_Image_r5goodr5goodr5go.png.import
documentation/Gemini_Generated_Image_r7uz6ir7uz6ir7uz.png
documentation/Gemini_Generated_Image_r7uz6ir7uz6ir7uz.png.import
documentation/tavern idea layout artwork.png
documentation/tavern idea layout artwork.png.import
scenes/MainTavern.tscn25376241147.tmp
scenes/MainTavern.tscn58368868969.tmp
scenes/MainTavern.tscn58469846078.tmp
build/EternalGuild_pre_v0.1_alpha.console.exe
build/EternalGuild_pre_v0.1_alpha.exe
build/EternalGuild_pre_v0.1_alpha.exe.7z
build/EternalGuild_pre_v0.1_alpha.zip
documentation/old/Gemini_Generated_Image_i1o9vzi1o9vzi1o9.png
documentation/old/Gemini_Generated_Image_i1o9vzi1o9vzi1o9.png.import
documentation/old/Gemini_Generated_Image_porhmlporhmlporh.png
documentation/old/Gemini_Generated_Image_porhmlporhmlporh.png.import
documentation/old/Gemini_Generated_Image_qgj1tkqgj1tkqgj1.png
documentation/old/Gemini_Generated_Image_qgj1tkqgj1tkqgj1.png.import
documentation/old/Gemini_Generated_Image_r5goodr5goodr5go.png
documentation/old/Gemini_Generated_Image_r5goodr5goodr5go.png.import
documentation/old/Gemini_Generated_Image_r7uz6ir7uz6ir7uz.png
documentation/old/Gemini_Generated_Image_r7uz6ir7uz6ir7uz.png.import
documentation/old/preview.webp
documentation/old/preview.webp.import
documentation/old/tavern idea layout artwork.png
documentation/old/tavern idea layout artwork.png.import
documentation/old/unnamed.png
documentation/old/unnamed.png.import
build/buildv0.2prealpha.zip
build/EternalGuild_pre_v0.2_alpha.console.exe
build/EternalGuild_pre_v0.2_alpha.exe
export_presets.cfg

